// .navbar {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   align-items: center;
//   .navbarleft {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//   }
//   .navbarright {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//   }
// }
// @import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&display=swap");
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .firstContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // font-family: "Raleway", sans-serif;
    font-family: "Mulish", sans-serif;
    font-weight: 900;
    background-image: linear-gradient(#ffecd7, #ffc9c9);
    margin: 60px 120px 10px 120px;
    width: 1200px;
    height: 490px;
    border: 1px solid #f88a12;
    border-radius: 10px;
    background-color: rgba(255, 166, 0, 0.61);
    .cardswrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      justify-content: center;
      gap: 40px 20px;
      margin: 60px 60px;

      .card {
        width: 200px;
        height: 180px;

        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .cardElements {
          // display: flex;
          // flex-direction: column;
          // justify-content: space-around;
          .blueDigits {
            color: #19006e;
            font-size: 46px;
          }
          .greenDigits {
            color: #0e8b00;
            font-size: 46px;
          }
          .normalDigits {
            font-size: 45px;
          }
        }
        > div {
          text-align: center;
          * {
            padding: 10px;
          }
          h2 {
            font-size: 30px;
            color: coral;
          }
        }
      }
    }
  }
  .viewButton {
    width: 100%;
    border-radius: 0 0 10px 10px;
    text-transform: none;
    background-image: linear-gradient(#f88a12, #cd2d05);
  }
}
