.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .navbarleft {
    display: flex;
    flex-direction: row;
    align-items: center;
    > h3:hover {
      cursor: pointer;
    }
  }
  .navbarright {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
