.mainContainer {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .leftContainer {
    margin: 20px;
  }
  .rightContainer {
    margin: 8px;
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
